In [1]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pyreadstat

Looking in indexes: https://nexus.beta.innovation.insee.eu/repository/pypi-public/simple
Collecting pyreadstat
  Downloading https://nexus.beta.innovation.insee.eu/repository/pypi-public/packages/pyreadstat/1.0.0/pyreadstat-1.0.0-cp37-cp37m-manylinux1_x86_64.whl (1.9MB)
     |████████████████████████████████| 2.0MB 61.4MB/s eta 0:00:01
Requirement already satisfied: pandas>0.24.0 in /opt/conda/lib/python3.7/site-packages (from pyreadstat) (0.25.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas>0.24.0->pyreadstat) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from pandas>0.24.0->pyreadstat) (1.17.3)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas>0.24.0->pyreadstat) (2019.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>0.24.0->pyreadstat) (1.13.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.0.0

In [2]:
import os
import s3fs
import pandas as pd
import numpy as np

In [3]:
fs = s3fs.S3FileSystem(client_kwargs={'endpoint_url': 'http://minio.stable.innovation.insee.eu'})
remote_data_dir="s3://groupe-1033/data"
fs.ls(remote_data_dir)

['groupe-1033/data/476-E220-2015_Archivage (liste variables).doc',
 'groupe-1033/data/DictionnaireRP.ods',
 'groupe-1033/data/DictionnaireSirus.odt',
 'groupe-1033/data/DonneesTransmisesHackathon.zip',
 'groupe-1033/data/GENETAB18.csv',
 'groupe-1033/data/RP',
 'groupe-1033/data/SIRUS.csv',
 'groupe-1033/data/SIRUS_VINCENT.csv',
 'groupe-1033/data/Sirus',
 'groupe-1033/data/hackaton']

## data/RP/split/bdd18_01.csv

In [4]:
with fs.open(os.path.join(remote_data_dir,'RP/split/bdd18_01.csv')) as f:
    df_rp18_01 = pd.read_csv(f)
print('nb lines : {}'.format(len(df_rp18_01)))
df_rp18_01.head()

nb lines : 15131

,CABBI,RS_X,ACTET_C,ACTET_C_C,ACTET_X,NOMVOI_X,NUMVOI_X,TYPEVOI_X,BISTER_X,CPLADR_X,...,NOTE_MCA_NOM_C,PROFA_X,PROFI_X,PROFS_X,VARDOMPART_X,SIRET_DEC,SIRETC,SIRETM,TYPCOL,ILT_X
0,8300920055,CARTUS,8299Z,NaN,RELOCATION,DES MURGIES,12.0,AV,NaN,NaN,...,NaN,NaN,NaN,CONSULTANTE EN IMMIGRATION,NaN,NaN,NaN,NaN,0,2.0
1,8300736630,WAVIN MEXICHEM,2221Z,NaN,FABRICATION TUBE POUR ENTERRER L'ELECTRICITE,ZI DE SERRIERES EN CHAUTAGNE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CARISTE,NaN,8.371504e+13,NaN,8.371504e+13,0,2.0
2,8300736627,ARIMC,8730B,8730B,HEBERGEMENT SERVICES POUR ADULTES HANDICAPES,DE LA PIECE,NaN,R,NaN,NaN,...,294.0,NaN,NaN,AGENT DE SERVICE INTERIEUR,NaN,7.756433e+13,7.756433e+13,7.756433e+13,0,2.0
3,8300736587,UTC-CIAT,2825Z,2825Z,FABRICATION DE CLIMATISATION,JEAN FALCONNIER,NaN,AV,NaN,NaN,...,571.0,NaN,NaN,AGENT D'ATELIER SPECIALISE PLIEUR,NaN,5.456201e+13,5.456201e+13,NaN,0,2.0
4,8300736602,MINISTERE DE L'INTERIEUR,8424Z,4752A,ADMINISTRATION,DE LA BOISSE,585.0,AV,NaN,NaN,...,727.0,NaN,NaN,ADJOINT ADMINISTRATIF 2 EME CLASSE,NaN,1.773015e+13,8.294692e+13,1.773015e+13,0,2.0

In [54]:
df_rp18_01[df_rp18_01['TYPCOL'].isna()]

Empty DataFrame
Columns: [CABBI, RS_X, ACTET_C, ACTET_C_C, ACTET_X, NOMVOI_X, NUMVOI_X, TYPEVOI_X, BISTER_X, CPLADR_X, CLT_C_C, CLT_X, DLT_X, PLT_X, DEPCOM_CODE, I_MCA_C, I_REPRISE_ACT, I_SIRET_M, NOTE_MCA_ADR_C, NOTE_MCA_NOM_C, PROFA_X, PROFI_X, PROFS_X, VARDOMPART_X, SIRET_DEC, SIRETC, SIRETM, TYPCOL, ILT_X]
Index: []

[0 rows x 29 columns]

In [46]:
set(df_rp18_01[df_rp18_01['NOTE_MCA_NOM_C'].notna()]['NOTE_MCA_NOM_C'].values)

{0.0,
 62.0,
 71.0,
 76.0,
 80.0,
 86.0,
 88.0,
 90.0,
 93.0,
 95.0,
 96.0,
 100.0,
 103.0,
 105.0,
 111.0,
 115.0,
 117.0,
 119.0,
 120.0,
 121.0,
 125.0,
 130.0,
 131.0,
 133.0,
 136.0,
 137.0,
 139.0,
 140.0,
 142.0,
 147.0,
 148.0,
 150.0,
 151.0,
 153.0,
 156.0,
 157.0,
 160.0,
 161.0,
 162.0,
 166.0,
 170.0,
 172.0,
 173.0,
 176.0,
 178.0,
 181.0,
 184.0,
 185.0,
 187.0,
 190.0,
 192.0,
 193.0,
 200.0,
 205.0,
 206.0,
 208.0,
 210.0,
 212.0,
 214.0,
 216.0,
 217.0,
 218.0,
 222.0,
 227.0,
 228.0,
 230.0,
 233.0,
 235.0,
 238.0,
 240.0,
 241.0,
 242.0,
 250.0,
 258.0,
 259.0,
 260.0,
 263.0,
 266.0,
 269.0,
 272.0,
 275.0,
 277.0,
 280.0,
 281.0,
 285.0,
 289.0,
 290.0,
 291.0,
 294.0,
 296.0,
 300.0,
 304.0,
 307.0,
 310.0,
 312.0,
 314.0,
 315.0,
 318.0,
 320.0,
 321.0,
 323.0,
 333.0,
 342.0,
 343.0,
 346.0,
 347.0,
 350.0,
 352.0,
 354.0,
 357.0,
 360.0,
 363.0,
 366.0,
 368.0,
 370.0,
 371.0,
 375.0,
 378.0,
 379.0,
 380.0,
 384.0,
 387.0,
 388.0,
 390.0,
 391.0,
 392.0,
 393.0,
 400.0,
 405.0,
 407.0,
 409.0,
 410.0,
 411.0,
 416.0,
 419.0,
 421.0,
 423.0,
 424.0,
 428.0,
 433.0,
 434.0,
 437.0,
 440.0,
 441.0,
 444.0,
 447.0,
 448.0,
 450.0,
 451.0,
 452.0,
 454.0,
 457.0,
 458.0,
 461.0,
 464.0,
 466.0,
 468.0,
 470.0,
 473.0,
 476.0,
 477.0,
 478.0,
 480.0,
 481.0,
 482.0,
 483.0,
 484.0,
 500.0,
 515.0,
 516.0,
 517.0,
 518.0,
 520.0,
 521.0,
 523.0,
 526.0,
 527.0,
 529.0,
 531.0,
 533.0,
 535.0,
 538.0,
 540.0,
 541.0,
 545.0,
 547.0,
 550.0,
 551.0,
 552.0,
 555.0,
 560.0,
 562.0,
 565.0,
 566.0,
 567.0,
 571.0,
 576.0,
 578.0,
 580.0,
 583.0,
 585.0,
 586.0,
 588.0,
 590.0,
 592.0,
 593.0,
 600.0,
 606.0,
 608.0,
 611.0,
 612.0,
 615.0,
 617.0,
 619.0,
 620.0,
 621.0,
 625.0,
 629.0,
 631.0,
 633.0,
 636.0,
 640.0,
 642.0,
 645.0,
 647.0,
 650.0,
 652.0,
 653.0,
 655.0,
 656.0,
 657.0,
 666.0,
 676.0,
 680.0,
 681.0,
 684.0,
 687.0,
 689.0,
 692.0,
 695.0,
 696.0,
 700.0,
 703.0,
 705.0,
 708.0,
 714.0,
 720.0,
 722.0,
 724.0,
 727.0,
 730.0,
 733.0,
 736.0,
 739.0,
 740.0,
 741.0,
 750.0,
 760.0,
 761.0,
 764.0,
 766.0,
 769.0,
 772.0,
 777.0,
 782.0,
 783.0,
 785.0,
 789.0,
 791.0,
 800.0,
 807.0,
 809.0,
 812.0,
 814.0,
 818.0,
 823.0,
 826.0,
 833.0,
 840.0,
 842.0,
 846.0,
 848.0,
 850.0,
 851.0,
 857.0,
 863.0,
 866.0,
 869.0,
 875.0,
 880.0,
 882.0,
 884.0,
 888.0,
 900.0,
 906.0,
 909.0,
 913.0,
 916.0,
 920.0,
 923.0,
 928.0,
 931.0,
 933.0,
 937.0,
 941.0,
 944.0,
 947.0,
 950.0,
 952.0,
 954.0,
 956.0,
 958.0,
 962.0,
 964.0,
 1000.0}

# RP2017

In [3]:
remote_data_dir="s3://groupe-1033/RP2017"
fs.ls(remote_data_dir)

['groupe-1033/RP2017/.keep',
 'groupe-1033/RP2017/CARRE_BLANC2.csv',
 'groupe-1033/RP2017/SIRUS.csv',
 'groupe-1033/RP2017/cb_acoder.csv',
 'groupe-1033/RP2017/geo-cog_CARRE_BLANC.csv',
 'groupe-1033/RP2017/rp_acoder_2017.csv',
 'groupe-1033/RP2017/rp_code_2017.csv',
 'groupe-1033/RP2017/rp_final_2017.csv',
 'groupe-1033/RP2017/rp_net_2017.csv',
 'groupe-1033/RP2017/rp_rech_2017.csv',
 'groupe-1033/RP2017/sirus_2017.csv']

## RP2017/rp_acoder_2017.csv

In [58]:
with fs.open(os.path.join(remote_data_dir,'rp_acoder_2017.csv')) as f:
    df_rp = pd.read_csv(f, sep=';')
print('nb lines : {}'.format(len(df_rp)))
df_rp.head()

nb lines : 162235

,Unnamed: 0,ident,codage_sicore,pour_recherche
0,3,7300076772,03254,SAINT POURCAIN;SAINT POURCAIN;03;46.1229614254...
1,20,7307914507,03298,VARENNES SUR ALLIER;VARENNES SUR ALLIER;;46.12...
2,24,7350578295,NaN,"VILLEDOMMANGE;VILLEDOMMANGE;51;43.9919149482,6..."
3,73,7350591532,53034,BONCHAMPS LES LAVAL;BONCHAMPS LES LAVAL;53;47....
4,84,7300076860,03237,SAINT GERMAIN DE SALLES;SAINT GERMAIN DE SALLE...

## RP2017/rp_code_2017.csv

In [59]:
with fs.open(os.path.join(remote_data_dir,'rp_code_2017.csv')) as f:
    df_rp = pd.read_csv(f, sep=';')
print('nb lines : {}'.format(len(df_rp)))
df_rp.head()

nb lines : 1643901

,Unnamed: 0,ident,pour_recherche,codage_sicore,codage_vincent,qualite,codage_vincent_bis,com_s_actuel,com_v_actuel,comparaison
0,0,7350591563,";;;47.9663369335,-1.04358876565",53250,53250,com_hab,NaN,53250,53250,ok
1,1,7350591562,"LOIRON-RUILLE;LOIRON RUILLE;53;47.9663369335,-...",53137,53137,appariement,NaN,53137,53137,ok
2,2,7300076862,"EBREUIL;EBREUIL;03;46.1229614254,3.14273582877",03107,03107,appariement,NaN,03107,03107,ok
3,3,7300076772,SAINT POURCAIN;SAINT POURCAIN;03;46.1229614254...,03254,03253,2,NaN,03254,03253,pas_ok
4,4,7300076915,"VENSAT;VENSAT;63;46.1229614254,3.14273582877",63446,63446,appariement,NaN,63446,63446,ok

In [71]:
df_rp[df_rp['comparaison'] == "hc_vincent_seul"]

,Unnamed: 0,ident,pour_recherche,codage_sicore,codage_vincent,qualite,codage_vincent_bis,com_s_actuel,com_v_actuel,comparaison
81,81,7350591540,";;;47.9663369335,-1.04358876565",53250,NaN,non_code,NaN,53250,xxxxx,hc_vincent_seul
82,82,7350591550,";;;47.9663369335,-1.04358876565",53250,NaN,non_code,NaN,53250,xxxxx,hc_vincent_seul
83,83,7350591549,";;;47.9663369335,-1.04358876565",53250,NaN,non_code,NaN,53250,xxxxx,hc_vincent_seul
188,188,7350492243,";;;44.455944996599996,5.74903304625",05016,NaN,non_code,NaN,05016,xxxxx,hc_vincent_seul
189,189,7350492242,";;;44.455944996599996,5.74903304625",05016,NaN,non_code,NaN,05016,xxxxx,hc_vincent_seul
...,...,...,...,...,...,...,...,...,...,...
1643753,1643753,7351377043,";;;45.755831784899996,4.8022536949",69385,NaN,non_code,NaN,69385,xxxxx,hc_vincent_seul
1643755,1643755,7351377058,";;;45.755831784899996,4.8022536949",69385,NaN,non_code,NaN,69385,xxxxx,hc_vincent_seul
1643766,1643766,7351377110,";;;45.755831784899996,4.8022536949",69385,NaN,non_code,NaN,69385,xxxxx,hc_vincent_seul
1643823,1643823,7354168552,";;;45.658238601,4.55827258271",69227,NaN,non_code,NaN,69227,xxxxx,hc_vincent_seul
1643825,1643825,7354168554,";;;45.658238601,4.55827258271",69227,NaN,non_code,NaN,69227,xxxxx,hc_vincent_seul

In [72]:
set(df_rp['qualite'].values)

{'1', '2', '3', '4', 'appariement', 'com_hab', 'non_code'}

## RP2017/rp_final_2017.csv

In [7]:
with fs.open(os.path.join(remote_data_dir,'rp_final_2017.csv')) as f:
    df_rp = pd.read_csv(f, sep=';')
print('nb lines : {}'.format(len(df_rp)))
df_rp.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (0,10,12,13,14,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

nb lines : 1643901

,CABBI,RS_X,ACTET_C,ACTET_C_C,ACTET_X,NOMVOI_X,NUMVOI_X,TYPEVOI_X,BISTER_X,CPLADR_X,...,naf4,pct4,naf5,pct5,nbtot,nb5,x,y,SourceXYW,qual
0,7350591563,MIGUEL SERVICES,4322A,3700Z,ELECTRICIEN PLAQUISTE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,398250.00,6770550.00,NaN,9.0
1,7350591562,MAITRE GUILLERON NOTAIRE,6910Z,6910Z,NOTAIRE,DU CLOS,2.0,PL,NaN,NaN,...,*****,NaN,*****,NaN,4848.0,4824.0,407050.00,6780350.00,158.113883,8.5
2,7300076862,CHEQUE EMPLOI SERVICE,9700Z,3700Z,AIDE A LA PERSONNE MENAGE,NaN,NaN,NaN,NaN,NaN,...,9499Z,10.0,8899B,10.0,10.0,8.0,706850.00,6557650.00,NaN,9.0
3,7300076772,IEMTHESE AGEPAPH,8710B,8710B,(CENTRE) INSTITUE D EDUCATION MOTRICE,DE SAULCET,73.0,RTE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,721502.79,6579439.67,NaN,1.0
4,7300076915,ECOLE PRIMAIRE (VENSAT),8520Z,8411Z,ECOLE,NaN,NaN,NaN,NaN,NaN,...,*****,NaN,*****,NaN,4887.0,4309.0,714250.00,6549650.00,NaN,9.0

In [34]:
df_rp[df_rp['x'].isna()]

,CABBI,RS_X,ACTET_C,ACTET_C_C,ACTET_X,NOMVOI_X,NUMVOI_X,TYPEVOI_X,BISTER_X,CPLADR_X,...,naf4,pct4,naf5,pct5,nbtot,nb5,x,y,SourceXYW,qual
24,7350578295,SCULFORT,0121Z,NaN,VIGNOBLE,VILLEDOMMANGE,1.0,NaN,NaN,NaN,...,*****,NaN,*****,NaN,61.0,57.0,NaN,NaN,NaN,NaN
85,7300076868,TRANSVAC,4941B,NaN,CHAUFFEUR,SAINT POURCEUR,NaN,NaN,NaN,NaN,...,*****,NaN,*****,NaN,1032.0,446.0,NaN,NaN,NaN,NaN
91,7300483718,FELINE AUTO,4511Z,NaN,VENTE DE VOITURES,DES ROMAINES,2.0,AV,NaN,ZAC GRANDE TERRE,...,*****,NaN,*****,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,7350322678,OPH DE LA MEUSE,6820A,NaN,GESTION D'HABITATION LOCATIVE,NaN,NaN,NaN,NaN,NaN,...,*****,NaN,*****,NaN,61.0,54.0,NaN,NaN,NaN,NaN
154,7300180279,ADEI-ESAT LAULAY 14 RUE DE L'AUMIS 17 LOULAY,8899B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1643859,7353019337,MCM,3320A,NaN,CHAUDRONNERIE ET MAINTENANCE INDUSTRIELLE,NaN,NaN,NaN,NaN,NaN,...,*****,NaN,*****,NaN,23.0,17.0,NaN,NaN,NaN,NaN
1643887,7306913837,LES JARDINS DE COCAGNE,0111Z,8110Z,MARAICHAGE BIO,NaN,NaN,NaN,NaN,NaN,...,*****,NaN,*****,NaN,12.0,12.0,NaN,NaN,NaN,NaN
1643893,7354064086,SAHARAN GROUP,6420Z,NaN,HOLDING,NaN,NaN,NaN,NaN,NaN,...,*****,NaN,*****,NaN,441.0,353.0,NaN,NaN,NaN,NaN
1643894,7306507438,M J.REYES,4399C,4941B,ENTREPRISE DU BATIMENT,NaN,NaN,NaN,NaN,NaN,...,*****,NaN,*****,NaN,1937.0,1465.0,NaN,NaN,NaN,NaN
1643897,7302124231,M FLEURDEPINE CHRISTELLE,8690D,NaN,INFIRMIERE LIBERALE,NaN,NaN,NaN,NaN,NaN,...,*****,NaN,*****,NaN,1290.0,1273.0,NaN,NaN,NaN,NaN

In [33]:
set(df_rp[df_rp['qual'].notna()]['qual'].values)

{1.0, 2.1, 2.2, 8.0, 8.5, 9.0}

In [21]:
len(df_rp[df_rp['SIRETM'] == df_rp['SIRETC']])/len(df_rp)

0.14477331664133058

In [31]:
df_rp[df_rp['code_retour'] == 'CCS'].iloc[2]

CABBI                          7300076915
RS_X              ECOLE PRIMAIRE (VENSAT)
ACTET_C                             8520Z
ACTET_C_C                           8411Z
ACTET_X                             ECOLE
NOMVOI_X                              NaN
NUMVOI_X                              NaN
TYPEVOI_X                             NaN
BISTER_X                              NaN
CPLADR_X                              NaN
CLT_C_C                             63446
CLT_X                              VENSAT
DLT_X                                  63
PLT_X                                 NaN
DEPCOM_CODE                          3021
I_MCA_C                                 E
I_REPRISE_ACT                           V
I_SIRET_M                               1
NOTE_MCA_ADR_C                         31
NOTE_MCA_NOM_C                        400
PROFA_X                               NaN
PROFI_X                               NaN
PROFS_X                DIRECTRICE D ECOLE
VARDOMPART_X                          NaN
SIRET_DEC                     2.16304e+13
SIRETC                        2.16304e+13
SIRETM                        2.16304e+13
id                                      5
ILT_X                                   2
code_retour                           CCS
naf1                                8520Z
pct1                                   46
naf2                                8531Z
pct2                                   18
naf3                                8510Z
pct3                                   13
naf4                                *****
pct4                                  NaN
naf5                                *****
pct5                                  NaN
nbtot                                4887
nb5                                  4309
x                                  714250
y                             6.54965e+06
SourceXYW                             NaN
qual                                    9
Name: 4, dtype: object

## RP2017/rp_net_2017.csv

In [4]:
with fs.open(os.path.join(remote_data_dir,'rp_net_2017.csv')) as f:
    df_rp = pd.read_csv(f, sep=';')
print('nb lines : {}'.format(len(df_rp)))
df_rp.head()

nb lines : 1643901

,Unnamed: 0,ident,codage_sicore,pour_recherche,codage_vincent,qualite
0,0,7350591563,53250,";;;47.9663369335,-1.04358876565",53250,com_hab
1,1,7350591562,53137,"LOIRON-RUILLE;LOIRON RUILLE;53;47.9663369335,-...",53137,appariement
2,2,7300076862,03107,"EBREUIL;EBREUIL;03;46.1229614254,3.14273582877",03107,appariement
3,3,7300076772,03254,SAINT POURCAIN;SAINT POURCAIN;03;46.1229614254...,xxxxx,NaN
4,4,7300076915,63446,"VENSAT;VENSAT;63;46.1229614254,3.14273582877",63446,appariement

In [5]:
df_rp.columns

Index(['Unnamed: 0', 'ident', 'codage_sicore', 'pour_recherche',
       'codage_vincent', 'qualite'],
      dtype='object')

## RP2017/rp_rech_2017.csv

In [6]:
with fs.open(os.path.join(remote_data_dir,'rp_rech_2017.csv')) as f:
    df_rp = pd.read_csv(f, sep=';')
print('nb lines : {}'.format(len(df_rp)))
df_rp.head()

nb lines : 162235

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,ident,codage_sicore,pour_recherche,codage_vincent,codage_vincent_bis,qualite
0,15,7350492295,05123,LA ROCHE DES ARNAUDS;LA ROCHE DES ARNAUDS;05;4...,05123;La Roche des Arnauds,NaN,1
1,16,7350492221,05021,"LE BERSAC;LE BERSAC;05;44.455944996599996,5.74...",05021;Le Bersac,NaN,1
2,33,7301252610,08040,LES AYVELLES;LES AYVELLES;08;49.68975945109999...,08040;Les Ayvelles,NaN,1
3,34,7301252716,08040,LES AYVELLES;LES AYVELLES;08;49.68975945109999...,08040;Les Ayvelles,NaN,1
4,42,7350259361,08180,LA FRANCHEVILLE;LA FRANCHEVILLE;08;49.68975945...,08180;La Francheville,NaN,1

In [7]:
df_rp.columns

Index(['Unnamed: 0', 'ident', 'codage_sicore', 'pour_recherche',
       'codage_vincent', 'codage_vincent_bis', 'qualite'],
      dtype='object')

## RP2017/sirus_2017.csv

In [29]:
with fs.open(os.path.join(remote_data_dir,'sirus_2017.csv')) as f:
    df_rp = pd.read_csv(f, sep=';')
print('nb lines : {}'.format(len(df_rp)))
df_rp.head()

FileNotFoundError: The specified key does not exist.

In [12]:
fs.info(os.path.join(remote_data_dir,'sirus_2017.csv'))

{'Key': 'groupe-1033/RP2017/sirus_2017.csv',
 'LastModified': datetime.datetime(2019, 11, 18, 16, 44, 39, 78000, tzinfo=tzlocal()),
 'ETag': '"adaf4ac3012ad7fdc97fd324105b0209-32"',
 'Size': 2136896059,
 'StorageClass': 'STANDARD',
 'Owner': {'DisplayName': '', 'ID': ''},
 'type': 'file',
 'size': 2136896059,
 'name': 'groupe-1033/RP2017/sirus_2017.csv'}

## RP2017/CARRE_BLANC2.csv

In [18]:
with fs.open(os.path.join(remote_data_dir,'CARRE_BLANC2.csv')) as f:
    df_rp = pd.read_csv(f, sep=';')
print('nb lines : {}'.format(len(df_rp)))
df_rp.head()

FileNotFoundError: The specified key does not exist.

In [19]:
fs.info(os.path.join(remote_data_dir, 'CARRE_BLANC2.csv'))

{'Key': 'groupe-1033/RP2017/CARRE_BLANC2.csv',
 'LastModified': datetime.datetime(2019, 11, 20, 8, 56, 52, 368000, tzinfo=tzlocal()),
 'ETag': '"94fddea307fdc03955131b70167aaa32"',
 'Size': 11007,
 'StorageClass': 'STANDARD',
 'Owner': {'DisplayName': '', 'ID': ''},
 'type': 'file',
 'size': 11007,
 'name': 'groupe-1033/RP2017/CARRE_BLANC2.csv'}

## RP2017/SIRUS.csv

In [28]:
with fs.open(os.path.join(remote_data_dir,'SIRUS.csv')) as f:
    df_rp = pd.read_csv(f, sep=';')
print('nb lines : {}'.format(len(df_rp)))
df_rp.head()

nb lines : 8357572

,Unnamed: 0,sirus_id,adr_depcom,adr_l6,pour_recherche,codage_vincent,libelle_vincent,qualite
0,0,325175,13204,13004 MARSEILLE 4,13004 MARSEILLE 4;MARSEILLE 4E ARRONDISSEMENT;...,13204,MARSEILLE 4E ARRONDISSEMENT,appariement
1,1,5420021,80001,80100 ABBEVILLE,"80100 ABBEVILLE;ABBEVILLE;80;48.856628,2.353233",80001,ABBEVILLE,appariement
2,2,5420120,62550,62140 MARCONNELLE,"62140 MARCONNELLE;MARCONNELLE;62;48.856628,2.3...",62550,MARCONNELLE,appariement
3,3,5440110,04070,04000 DIGNE-LES-BAINS,04000 DIGNE-LES-BAINS;DIGNE LES BAINS;04;48.85...,04070,DIGNE LES BAINS,appariement
4,4,5440565,04209,04200 SISTERON,"04200 SISTERON;SISTERON;04;48.856628,2.353233",04209,SISTERON,appariement

In [21]:
df_rp.columns

Index(['Unnamed: 0', 'sirus_id', 'adr_depcom', 'adr_l6', 'pour_recherche',
       'codage_vincent', 'libelle_vincent', 'qualite'],
      dtype='object')

## RP2017/cb_acoder.csv

In [22]:
with fs.open(os.path.join(remote_data_dir,'cb_acoder.csv')) as f:
    df_rp = pd.read_csv(f, sep=';')
print('nb lines : {}'.format(len(df_rp)))
df_rp.head()

nb lines : 147

   Unnamed: 0  TET_SIREN     CP            pour_recherche
0           0  400102349   6600      Antibes ;ANTIBES;06;
1           1  400102349  33120    Arcachon ;ARCACHON;33;
2           2  400102349  49100        Angers ;ANGERS;49;
3           3  400102349  16000  Angoulême ;ANGOULEME;16;
4           4  400102349  20000      Ajaccio ;AJACCIO;20;

## RP2017/geo-cog_CARRE_BLANC.csv

In [27]:
with fs.open(os.path.join(remote_data_dir,'geo-cog_CARRE_BLANC.csv')) as f:
    df_rp = pd.read_csv(f, sep=';')
print('nb lines : {}'.format(len(df_rp)))
df_rp.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 10: invalid continuation byte